<div class="container my-5">
  <h1 class="mb-3">New Order</h1>
  <div class="row">
    <div class="col-6">
      <form [formGroup]="addOrderForm" (ngSubmit)="addOrder()">
        <div class="mb-3">
          <div class="d-flex flex-column col-6">
            <label for="customerId" class="form-label mt-4">Customer:</label>
            <select
              class="form-label dropdown"
              id="customerId"
              formControlName="customerId"
            >
              <option value="" selected disabled>Select Customer:</option>
              <option *ngFor="let customer of customers" [value]="customer.id">
                {{ customer.name }}
              </option>
            </select>
          </div>

          <div class="d-flex flex-column col-6">
            <label for="orderStatus" class="form-label mt-4">Status:</label>
            <select
              class="form-label dropdown"
              formControlName="orderStatus"
              id="orderStatus"
            >
              <option value="" selected disabled>Select Status</option>
              <option *ngFor="let status of statuses" [value]="status">
                {{ status }}
              </option>
            </select>
          </div>
          <label for="total" class="form-label mt-4">Total Cost:</label>
          <p>{{ totalCost }}</p>
          <div
            class="add-product mt-4 d-flex flex-row justify-content-between align-items-center"
          >
            <label for="total" class="form-label">Add products:</label>
            <button
              routerLink="../../order/add-product"
              class="btn btn-primary"
            >
              Add Product to Order
            </button>
          </div>
        </div>
        <table class="table table-bordered" *ngIf="items.length > 0">
          <thead>
            <tr>
              <th>Product Id</th>
              <th>Product Name</th>
              <th>Product Category</th>
              <th>Product Size</th>
              <th>Quantity</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items">
              <td>{{ item.productId }}</td>
              <td>{{ item.productName }}</td>
              <td>{{ item.category }}</td>
              <td>{{ item.size }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ "$" + item.price }}</td>
            </tr>
          </tbody>
        </table>

        <label for="comment" class="label">Comment:</label>
        <textarea
          formControlName="comment"
          class="form-control ta"
          id="comment"
          name="comment"
          rows="4"
        ></textarea>
        <div class="button-group mt-3">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="addOrderForm.invalid || items.length === 0"
            (click)="addOrder()"
          >
            Save
          </button>
          <button
            type="button"
            routerLink="/orders"
            class="btn btn-secondary ms-2"
            (click)="onCancel()"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
