<header
  class="d-flex flex-row align-items-center justify-content-between p-3 px-4 mb-3 bg-white border-bottom shadow-sm fixed-top"
>
  <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto text-uppercase fs-6">
    <a
      routerLinkActive="active"
      class="p-2 ms-2 text-dark text-decoration-none"
      routerLink="customers"
      >Customers</a
    >
    <a
      routerLinkActive="active"
      class="p-2 ms-2 text-dark text-decoration-none"
      routerLink="products"
      >Products</a
    >
    <a
      routerLinkActive="active"
      class="p-2 ms-2 text-dark text-decoration-none"
      routerLink="orders"
      >Orders</a
    >
  </nav>
</header>
